
.octaves {
    position: relative;
    user-select: none;
    pointer-events: none;
}

.octave {
    background: var(--octave-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: var(--octave-text-color);
    letter-spacing: 1px;
}

.shadow {
    background: var(--octave-shadow-color);
}