

// common style for div & g elements

.white {

    svg {
        position: absolute;
        left: 0;
        top: 0;
    }

    > * {
        cursor: pointer;
    }

    div.key {
        background: var(--white-key-color);
    }

    path.key {
        fill: var(--white-key-color);
    }

    .shadow {
        background: var(--white-key-shadow-color);
    }

}

.black {

    > * {
        cursor: pointer;
    }

    .key {
        transform: translate(0, var(--pPaddingX2));
        background: var(--black-key-top-color);
    }

    .shadow {
        background: var(--black-key-shadow-color);
    }

    .glance {
        background: var(--black-key-color);
    }

}

.container {


    &:not(.pressed):not(.disabled) {

        &.white:hover path.key {
            fill: var(--white-key-hover-color);
        }

        &.white:hover div.key {
            background: var(--white-key-hover-color);
        }

        &.black:hover .key {
            background: var(--black-key-top-hover-color);
        }
    }

    &.pressed:not(.disabled) {

        &.white {

            .key {
                transform: translate(0, var(--pPaddingX1));
            }

            path.key {
                fill: var(--white-key-pressed-color);
            }

            div.key {
                background: var(--white-key-pressed-color);
            }

            .shadow {
                background: var(--white-key-shadow-pressed-color);
            }


        }

        &.black {

            .key {
                transform: translate(0, var(--pPaddingX4));
                background: var(--black-key-top-pressed-color);
            }

            .shadow {
                background: var(--black-key-shadow-pressed-color);
            }

            .glance {
                transform: translate(0, var(--pPaddingX1));
                background: var(--black-key-pressed-color);
            }

        }

    }

    &.disabled {

        &.white {

            > * {
                cursor: not-allowed !important;
            }

            path.key {
                fill: var(--white-key-disabled-color);
            }

            div.key {
                background: var(--white-key-disabled-color);
            }

        }
    }

}
