

// common style for div & g elements

.white {

    > * {
        cursor: pointer;
    }

}

.black {

    > * {
        cursor: pointer;
    }

    .key {
        transform: translate(0, var(--pPaddingX2));
    }

}

.container {

    &.pressed:not(.disabled) {

        .white {

            .key {
                transform: translate(0, var(--pPaddingX1));
            }

        }

        .black {

            .key {
                transform: translate(0, var(--pPaddingX4));
            }

            .glance {
                transform: translate(0, var(--pPaddingX1));
            }

        }

    }

    &.disabled {

        .white {

            > * {
                cursor: not-allowed !important;
            }
        }
    }

}


// styles for g element
.container {


    .white {

        .key {
            fill: var(--white-key-color);
        }

        .shadow {
            fill: var(--white-key-shadow-color);
        }

    }

    .black {

        .key {
            fill: var(--black-key-top-color);
        }

        .shadow {
            fill: var(--black-key-shadow-color);
        }

        .glance {
            fill: var(--black-key-color);
        }

    }

    &:not(.pressed):not(.disabled) {
        .white:hover .key {
            fill: var(--white-key-hover-color);
        }
        .black:hover .key {
            fill: var(--black-key-top-hover-color);
        }
    }

    &.pressed:not(.disabled) {

        .white {

            .key {
                fill: var(--white-key-pressed-color);
            }

            .shadow {
                fill: var(--white-key-shadow-pressed-color);
            }

        }

        .black {

            .key {
                fill: var(--black-key-top-pressed-color);
            }

            .shadow {
                fill: var(--black-key-shadow-pressed-color);
            }

            .glance {
                fill: var(--black-key-pressed-color);
            }

        }

    }

    &.disabled {

        .white {

            .key {
                fill: var(--white-key-disabled-color);
            }
        }
    }

}
