

.container {
    padding-top: 25vh;
    padding-bottom: 10vh;
}


.logo {

    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    max-width: 80vw;
    width: var(--pLogoWidth);

}

.text {
    top: 0;
    left: 0;
    position: absolute;
    fill: var(--white);
}

.shadow {
    margin-top: var(--pPaddingX2);
    fill: var(--white-key-shadow-color);
}