
.logo {

    display: block;
    margin-left: auto;
    margin-right: auto;

    margin-top: 12vh;
    margin-bottom: 4vh;
    height: 23vh;
    max-width: 100vw;

    .text {
        fill: var(--white);
    }

    .shadow {
        fill: var(--white-key-shadow-color);
        transform: translate(0px, 2px);
    }

}