
.logo {

    display: block;
    margin-left: auto;
    margin-right: auto;

    margin-top: 10vh;
    height: 20vh;

    .text {
        fill: var(--white);
    }

    .shadow {
        fill: var(--white-shadow-color);
        transform: translate(0px, 2px);
    }

}